/***
**** Structured Document 2 stylesheet
***/

.field {
  clear: both;
}

#structured-document .documentDescription {
  overflow: hidden;
  width: 100%;
}

#sd-document-introduction {
  margin-top: 1em;
}

.discussion {
  margin: 0;
}

/** Folder listing **/
.embedded-folder-listing dt {
  font-size: 100%;
}

/** Embedded image **/

.embedded-image-right {
  float: right;
  padding: 0 0 0 1.1em;
  position: relative;
}

.embedded-image-left {
  float: left;
  padding: 0 1.1em 0 0;
  position: relative;
}

.embedded-image-center {
  text-align: center;
  margin-bottom: 0.5em;
}

.embedded-image {
  text-align: center;
}

.embedded-image-comment {
  padding: 0.3em 0 0 0;
}


/** Global content display **/

.structured-item a {
  text-decoration: none !important;
  border: 0 !important;
}

dt.structured-item-title {
  font-size: 125%;
  padding: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd;
}

.structured-item-description {
  margin-bottom: 0.5em;
}

.structured-item-body {
  padding: 0.5em 0 0 0.5em;;
}

dl.structured-item dl.structured-item {
  margin-left: 1.5em;
}

dd.structured-item-content dt.structured-item-title {
  font-size: 110%;
}

dd.structured-item-content dd.structured-item-content dt {
  font-size: 100%;
}

.structured-footer {
  clear: both;
}


/** Table of contents **/

#document-whole-index {
  margin: 1em 0 2em 0;
  width: 20em;
}

#document-whole-index dd {
  margin: 0;
  padding: 0.5em 0;
}

#document-whole-index dd li a {
  border-bottom: 1px solid #ddd;
}

#document-whole-index dd li a:hover {
  background-color: #eee;
}

#document-whole-index {
  padding: 0.4em;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}

#document-whole-index dl {
  margin: 1em 2em 0.5em 2em;
}

.next-previous-bottom {
  margin-top: 2em;
}

ul.chapter-translations {
  float: right;
  margin: 0 1em 0 0 !important;
}

#structured-document-index {
  margin: 0.5em;
  background-color: white;
  border: 1px solid #666;
}

#structured-document-index legend {
  background-color: transparent;
  font-weight: bold;
}

.structured-form-description {
  color: #666;
  font-size: 90%;
}

#structured-document-portlets {
  padding: 0 0 2em 2em;
  width: 17em;
  vertical-align: top;
}

#structured-document-portlets a {
  border: 0 !important;
}

#structured-document-portlets dd.portletItem {
  font-size: 90%;
}

#structured-document-portlets dd.portletItem dd {
  margin: 0;
}

#structured-document-portlets .block-title {
  font-size: 110%;
  font-weight: bold;
}

#structured-document-portlets .picture {
  text-align: center;
}

#structured-document-portlets .picture .picture-caption {
  color: #666;
}

.portlet-toc .portletItem ol {
  margin: 0 0 0 2em;
}

span.reordering {
  display: block;
  float: left;
  margin: 0 0.4em;
}

span.reordering a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}

div.structured-actions {
  padding: 0;
  margin: 0.2em 0;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  height: 1.5em;
}

div.structuredDropDownActions {
  float: right;
}

a.action-header {
  margin: 0 0.4em;
}

div.structured-actions ul.item-actionmenu {
  margin: 0;
  height: 1.5em;
  line-height: 1.4em;
  border-left: 1px solid #ddd;
}

.item-actionmenu,
.item-actionmenu li {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}

.item-actionmenu a:visited,
.item-actionmenu a:active,
.item-actionmenu a {
  border: 0 !important;
  color: #666 !important;
  font-size: 90%;
}

dd.portletItem table.block-details {
  margin: 0 !important;
  width: 100% !important;
}

dl.portlet dd.picture {
  padding: 1em !important;
}

.document-with-blocks {
  margin-right: 19em;
  position: relative;
}

.batch_navigation {
  padding: 0.5em 0.2em;
}

.batch_navigation a {
  text-decoration: none;
}

.batch_navigation a:hover {
  background-color: #f4f4f4;
}

.item-actionmenu ul.submenu li a {
  padding-left: 15px !important;
}

.item-actionmenu ul.submenu li a.selected-layout {
  background: transparent url(bullet.gif) 3px 0 no-repeat !important;
}

.item-actionmenu ul.submenu {
  position: absolute;
  width: 15em;
  background: #f4f4f4;
  border-color: #ddd;
  border-width: 1px;
  border-style: none solid;
  margin: 0;
  z-index: 3;
  display: none;
}

.item-actionmenu ul.submenu .submenu-item {
  border-color: #ddd;
  border-width: 1px;
  padding: 0.1em 0;
  border-style: none none solid none;
}

.item-actionmenu li.unfolded ul.submenu {
  display: block;
}

.item-actionmenu ul.submenu li {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.item-actionmenu ul.submenu a,
.item-actionmenu ul.submenu a:hover {
  margin: 0;
  display: block;
  position: static !important;
  white-space: normal;
}

.item-actionmenu ul.submenu li a.selected-layout:hover,
.item-actionmenu ul.submenu a:hover {
  background-color: #e4e4e4 !important;
}


.enhanced-photo-album .nav {
  margin: 0.5em; 0 !important;
}

.enhanced-photo-album .nav ul {
  margin: 0 !important;
}

.enhanced-photo-album .nav li {
  display: block;
  height: 80px;
  width: 80px;
  margin: 0 10px 10px 0;
  padding: auto;
  border: 1px solid #ddd;
  line-height: 80px;
  text-align: center;
  background-color: white;
  float: left;
}

.enhanced-photo-album .main_image {
  text-align: center;
  clear: left;
}

.slideshow {
  overflow: auto;
}

.slideshow p {
  width: 100%;
  text-align: center;
  display: block;
}

.slideshow p img {
  display: block;
  margin: 0 auto;
}

#structured-document-content {
  border: 0;
  width: 100%;
}

#main-structured-document-content {
  vertical-align: top;
}

.configuration-sheet {
  padding: 1em 0 1em 18px;
  background: transparent url(++resource++sd.renderer.config.gif) 0 50% no-repeat !important;
}

div.atimage {
  text-align: center;
}
